body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    max-width: 1240px;
}

.header {
    padding: 15px 0 15px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.header-btn1 {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: none;
    background: none;
}

.header-btn2 {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: white;
    border: 2px solid black;
    padding: 10px 18px;
}

.hero {
    background: url(../img/Background.jpg) center / cover;
    height: 700px;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    max-width: 470px;
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin: 0;
}

.hero-text {
    color: #f7f3f2;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 24.5px;
}

.hero-btn {
    width: 225px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #ff4e50;
    color: white;
    border: none;
}

.Dreamshare-title {
    color: #444;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}

.Dreamshare-steep1 {
    position: relative;
}

.Dreamshare-steep1-text {
    position: absolute;
    padding: 0 20px;
    bottom: 20px;
}

.Dreamshare-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Dreamshare-btn {
    width: 70px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #ff4e50;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    border: none;
}

.Dreamshare-sabtitle {
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.Dreamshare-p {
    color: #e3e3e3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    max-width: 250px;
}

.meet {
    margin: 90px 0 30px 0;
}

.meet-title-h3 {
    color: #444;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}

.meet-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.meet-title-grup {
    text-align: center;
}

.meet-title-p {
    color: #444;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.meet-end {
    color: #666;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    max-width: 221px;
}

.meet-btn {
    color: #ff4e50;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 24px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #ff4e50;
    background: #fff;
}

.meet-btns {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover {
    margin: 100px 0 35px 0;
}

.discover-4 {
    color: #444;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}

.discover-block-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.img1 {
    position: relative;
}

.discover-text-1 {
    display: flex;
    justify-content: center;
}

.discover-title-h3 {
    position: absolute;
    bottom: 135px;
    color: #c0b6b6;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}

.discover-title-h5 {
    position: absolute;
    bottom: 135px;
    color: #c0b6b6;
    font-size: 22px;
    max-width: 187px;
}

.discover-block-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.discover-img1 {
    position: relative;
}

.discover-red {
    display: flex;
    justify-content: center;
}

.discover-red-h3 {
    position: absolute;
    bottom: 135px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.section-end {
    margin-top: 50px;
}

.w4text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w4text h4 {
    color: #444;
    font-size: 22px;
    font-weight: 700;
}

.w4text p {
    color: #666;
    font-size: 18px;
    line-height: 14px;
}

.input input {
    margin-top: 25px;
    height: 35px;
    margin-right: 10px;
}

.input button {
    width: 172.125px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #ff4e50;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

hr {
    margin-top: 5pc;
    background: #ff4e50;
    height: 2.5px;
    border: none;
}

.footer-nav {
    margin-top: 5pc;
    display: flex;
    justify-content: space-between;
}

.company {
    display: block;
    text-align: start;
}

.company nav {
    list-style: none;
}

.company a {
    text-decoration: none;
    color: #999;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 185.714% */
}

.logo-end a {
    color: #ff4e50;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.company h6 {
    margin-top: 0;
    color: #444;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.partner a {
    text-decoration: none;
    color: #444;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 770px) {
    .meet-title {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: baseline;
    }
    .img1 img {
        max-width: 220px;
        height: 290px;
    }
    .discover-img1 img {
        max-width: 456px;
        border-radius: 5px;
        height: 290px;
    }
}

@media screen and (max-width: 510px) {
    .hero-title {
        text-align: center;
        font-size: 30px;
    }
    .hero-text {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .header-logo {
        display: none;
    }

    .header-content {
        justify-content: center;
    }

    .Dreamshare-content {
        display: block;
    }
    .Dreamshare-steep1 {
        display: flex;
        justify-content: center;
    }
    .discover-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .meet-title-grup {
        display: block;
        justify-content: center;
    }
    .img1 img {
        max-width: 300px;
        height: 300px;
    }
    .discover-img1 img {
        max-width: 300px;
        height: 300px;
    }
    .discover-block-1 {
        display: block;
    }

    .discover-block-2 {
        display: block;
    }

    .footer-nav {
        margin-top: 5pc;
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .fl2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .fl3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50;
    }
    .logo-end {
        margin-bottom: 20px;
    }
    .company h6 {
        margin: 0;
    }
    .partner {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .logo-end2 {
        margin-bottom: 20px;
    }
}
