body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    max-width: 1240px;
}

.header {
    padding: 15px 0 15px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.header-btn1 {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: none;
    background: none;
}

.header-btn2 {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: white;
    border: 2px solid black;
    padding: 10px 18px;
}

.hero {
    background: url(../img/Background.jpg) center / cover;
    height: 700px;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    max-width: 470px;
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin: 0;
}

.hero-text {
    color: #f7f3f2;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 24.5px;
}

.hero-btn {
    width: 225px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #ff4e50;
    color: white;
    border: none;
}

.Dreamshare-title {
    color: #444;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}

.Dreamshare-steep1 {
    position: relative;
}

.Dreamshare-steep1-text {
    position: absolute;
    padding: 0 20px;
    bottom: 20px;
}

.Dreamshare-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Dreamshare-btn {
    width: 70px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #ff4e50;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    border: none;
}

.Dreamshare-sabtitle {
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.Dreamshare-p {
    color: #e3e3e3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    max-width: 250px;
}

.meet {
    margin: 90px 0 30px 0;
}

.meet-title-h3 {
    color: #444;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}

.meet-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.meet-title-grup {
    text-align: center;
}

.meet-title-p {
    color: #444;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.meet-end {
    color: #666;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    max-width: 221px;
}

.meet-btn {
    color: #ff4e50;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 24px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #ff4e50;
    background: #fff;
}

.meet-btns {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 510px) {
    .hero-title {
        text-align: center;
        font-size: 30px;
    }
    .hero-text {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .header-logo {
        display: none;
    }

    .header-content {
        justify-content: center;
    }

    .Dreamshare-content {
        display: block;
    }
    .Dreamshare-steep1 {
        display: flex;
        justify-content: center;
    }
}
