body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    max-width: 1240px;
}

.header {
    padding: 15px 0 15px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.header-btn1 {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: none;
    background: none;
}

.header-btn2 {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: white;
    border: 2px solid black;
    padding: 10px 18px;
}

.hero {
    background: url(../img/Background.jpg) center / cover;
    height: 700px;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    max-width: 470px;
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin: 0;
}

.hero-text {
    color: #f7f3f2;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 24.5px;
}

.hero-btn {
    width: 225px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #ff4e50;
    color: white;
    border: none;
}

@media screen and (max-width: 510px) {
    .hero-title {
        text-align: center;
        font-size: 30px;
    }
    .hero-text {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .header-logo {
        display: none;
    }

    .header-content {
        justify-content: center;
    }
}
